/* style for the header */
.Header {
    width: 100%;
    background-color: var(--primary-color);
    padding: var(--global-padding);
    margin-top: 10vh;
}

/* style for the hero section */
.HeaderHero {
    height: 65vh;
}