/* About page style */
.About {
    margin-top: 10vh;
    min-height: 69.6vh;
    display: flex;
}

/* style for the paragraph element */
.About p {
    margin-top: 6px;
    padding: 8px;
}

/* style for the un-ordered list element */
.About ul {
    list-style-position: inside;
    padding: 8px 16px;
}

/* style for the list item element */
.About ul li {
    margin-top: 8px;
}

/* style for the anchor element */
.About a {
    display: inline-block;
    margin-left: 8px;
    color: #87bbef;
}

/* media screen to small screens */
@media screen and (max-width: 768px) {
    .About > * {
        font-size: .9rem !important;
    }

    .About h1 {
        font-size: 1.2rem;
    }
}