/* the style of the drop list container */
.DropListContainer {
    position: absolute;
    top: 5.3vh;
    left: 27%;
    padding: 16px;
    width: 250px;
    text-align: left;
}

/* the style of the drop list */
.DropList {
    list-style: none;
    background-color: red;
}

/* the style of the drop list item */
.DropListItem {
    display: flex;
    width: 100%;
    height: 75px;
    margin: 10px 0;
}

/* the style image in the list */
.DropListItemImage {
    width: 25%;
    height: 100%;
}

/* the style of the title and year of movie */
.DropListItemTitle,
.DropListItemYear{
    width: 75%;
    margin: 10px;
}