/* style for the search bar container */
.SearchBar {
    width: 50%;
    text-align: right;
    position: relative;
}

/* style for input element and button in the search bar container */
.SearchBar input,
.SearchBar button{
    padding: 8px;
    margin: 0 8px;
    font-size: 1.07rem;
    border: none;
    border-radius: 16px;
    outline: none;
}

/* style for the input element in search bar */
.SearchBar input {
    color: var(--secondary-color);
    background-color: rgb(135, 187, 239);
    width: 60%;
}

/* style for the button in search bar */
.SearchBar button {
    background-color: #0a950a;
    color: var(--primary-text-color);
    font-weight: 600;
}