/* style for the search bar container */
.SearchBar {
    width: 50%;
    text-align: right;
    position: relative;
}

/* style for input element and button in the search bar container */
.SearchBar input{
    padding: 8px;
    margin: 0 8px;
    font-size: 1.07rem;
    border: none;
    border-radius: 16px;
    outline: none;
}

/* style for the input element in search bar */
.SearchBar input {
    color: var(--secondary-color);
    background-color: rgb(135, 187, 239);
    width: 70%;
}

/* media for small screens */
@media screen and (max-width: 768px) {
    .SearchBar {
        display: none;
    }
}