/* style for the search bar container */
.SearchBar {
    width: 45%;
    text-align: right;
    position: relative;
    margin-left: 10vw;
    display: flex;
}

/* style for the input element in search bar */
.SearchBar input {
    color: var(--secondary-color);
    background-color: rgb(135, 187, 239);
    width: 100%;
    padding: 8px;
    margin: 0 8px;
    font-size: 1.07rem;
    border: none;
    border-radius: 16px;
    outline: none;
    text-align: center;
}

.SearchBar button {
    padding: 8px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #2d2236;
    color: #43b8e7;
    font-weight: bold;
}

.SearchBar button:hover {
    background-color: #140221;
    cursor: pointer;
}

/* media screen for small screens to control font size */
@media screen and (max-width: 420px) {
    .SearchBar input {
        font-size: .9rem;
    }
}


/* media for small screens */
@media screen and (max-width: 769px) {
    .SearchBar {
        display: none;
        width: 80%;
        padding: 0 !important;
    }

    .SearchBar button {
        margin-top: 16px;
    }
}