/* Global variables to use them through the whole the project */
:root {
  --primary-color: rgba(42, 81, 120, 0.77);
  --primary-text-color: #fff;
  --secondary-color: #00060c;
  --movie-color: #123;
  --global-padding: 32px;
  --global-marging: 16px;
  --global-inner-padding: 16px;
  --button-color: #0a950a;
}

/* Global CSS Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Element Style */
body {
  width: 100vw;
  height: 100vh;
  font-family: "Times New Roman",sans-serif;
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
}

/* the root element in our project */
#root {
  width: 100%;
}